Repository aaronsisler/services.stargate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --fix, git add ., prettier --write

.lintstagedrc.json:

{
  "*.js": ["npm run lint --fix", "git add ."],
  "*.{js,json}": ["prettier --write", "git add ."]
}

Adding in a custom bot related 200 success messag
  src/email-v2/email-v2.ts
  src/email-with-attachment-v2/email-with-attachment-v2.ts
Due: none

Removing an unused import
  src/email-with-attachment-v2/email-with-attachment-v2.ts
Due: none

Fixing a build issue
  src/health/index.ts
Due: none

Cleaning up how the PR and Deploy GHA's work to reduce the scripts in package.json
  .github/workflows/deploy.yml
  .github/workflows/pull-request.yml
  package.json
  scripts/with-config.sh
Due: git add ., prettier --write

Upgrading all of the deps including eslint and co.
  .eslintignore
  .eslintrc
  .husky/pre-commit
  .huskyrc
  .lintstagedrc.json
  eslint.config.js
  package-lock.json
  package.json
  src/email-v2/email-v2.ts
  src/email-with-attachment-v2/email-with-attachment-v2.ts
  src/email-with-attachment/email-with-attachment.ts
  src/health/health.ts
  src/shared/email-service.ts
  src/shared/email-template.ts
  src/shared/logging-utils.ts
Due: npm run lint --fix, git add ., prettier --write

Quick fix of the Deploy.yaml
  .github/workflows/deploy.yml
Due: none

Reducing GHA to one file
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

Try it again
  .github/workflows/ci.yml
Due: none

Changes for changing health to info endpoint
  .github/workflows/ci.yml
  deployment/serverless.beta.yml
  deployment/serverless.prod.yml
  src/health/index.ts
  src/info/index.ts
  src/info/info.ts
  src/shared/response.ts
Due: none

[chore] npm audit fix
  package-lock.json
Due: git add ., prettier --write

Changes for changing health to info endpoint (#79)
  .github/workflows/ci.yml
  deployment/serverless.beta.yml
  deployment/serverless.prod.yml
  package-lock.json
  package.json
  src/health/index.ts
  src/info/index.ts
  src/info/info.ts
  src/shared/response.ts
Due: git add ., prettier --write

Trying to fix main's CI
  .github/workflows/ci.yml
Due: none

Trying this flavor for version strategy
  .github/workflows/ci.yml
  deployment/serverless.beta.yml
  deployment/serverless.prod.yml
Due: none

Change for cleaning up ci.yml
  .github/workflows/ci.yml
Due: none

Moving from .yml to .yaml
  .github/workflows/ci.yaml
  deployment/serverless.beta.yaml
  deployment/serverless.prod.yaml
Due: none

Updating the script for yaml instead of yml
  scripts/with-config.sh
Due: none

Trying to fix main's CI (#80)
  .github/workflows/ci.yaml
  deployment/serverless.beta.yaml
  deployment/serverless.prod.yaml
  package-lock.json
  package.json
  scripts/with-config.sh
Due: git add ., prettier --write

Adding in the CI changes and update deployment method plan
  .github/workflows/ci.yaml
  plan-the-update-deployment.md
Due: none

Feature/fix main gha (#81)
  .github/workflows/ci.yaml
  plan-the-update-deployment.md
Due: none

Changes for shared serverless file
  deployment/serverless.beta.yaml
  deployment/serverless.yaml
  scripts/with-config.sh
Due: none

Does it need to be called custom?
  deployment/serverless.yaml
Due: none

Changes for shared serverless file (#82)
  deployment/serverless.beta.yaml
  deployment/serverless.yaml
  scripts/with-config.sh
Due: none
